<h1>News</h1>
<p>.. news articles on 'Vidrohi'</p>
<div align="right"><%= link_to 'Add New News', new_news_path %></div>
<br/>
<hr/>
<table>
  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td>> <%= link_to news.title, news.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New News', new_news_path %> -->
