<h1>Tributes</h1>
<p>a collection of tributes...</p>
<div align="right"><%= link_to 'Add a new tribute (youtube) video', new_tribute_path %></div>
<br/>
<% @tributes.each do |tribute| %>
<div class="one">
	<div>
	<iframe title="YouTube video player" class="youtube-player" type="text/html" 
					width="320" height="190" src="<%= tribute.url.sub!("watch?v=", "v/") %>"
					frameborder="0" allowFullScreen></iframe>
	</div>
	<div>
		<b><%= tribute.title %></b>
	</div>
	<br/>
</div>
<% end %>

<br>

<!-- <%= link_to 'New Tribute', new_tribute_path %> -->
