        
				<br/>
				<h1>रमाशंकर यादव 'विद्रोही'</h1>
				<p>
रमाशंकर यादव 'विद्रोही' (3 दिसम्बर 1957 - 8 दिसंबर 2015) हिंदी के लोकप्रिय जनकवि हैं। प्रगतिशील परंपरा के इस कवि की रचनाओं का एकमात्र प्रकाशित संग्रह 'नई खेती' है। इसका प्रकाशन इनके जीवन के अंतिम दौर २०११ ई में हुआ। वे स्नातकोत्तर छात्र के रूप में जवाहरलाल नेहरु विश्वविद्यालय से जुड़े। यह जुड़ाव आजीवन बना रहा। इनका निधन ८ दिसंबर २०१५ को ५८ वर्ष की अवस्था में हो गया।
				</p>	

				<u><h2>जीवन परिचय
        </h2></u>

				<p>उनका जन्म ३ दिसंबर, १९५७ को उत्तर प्रदेश के सुल्तानपुर जिले के अंतर्गत अइरी फिरोजपुर गांव में हुआ। उनकी आरंभिक शिक्षा गाँव में ही हुई। सुल्तानपुर में उन्होंने स्नातक किया। इसके बाद उन्होंने कमला नेहरू इंस्टीट्यूट में वकालत में दाखिला लिया। वे इसे पूरा नहीं कर सके। उन्होंने १९८० में जवाहरलाल नेहरु विश्वविद्यालय में स्नातकोत्तर में प्रवेश लिया। १९८३ में छात्र-आंदोलन के बाद उन्हें जेएनयू से निकाल दिया गया। उन्होंने १९८० में जवाहरलाल नेहरु विश्वविद्यालय में स्नातकोत्तर में प्रवेश लिया। १९८३ में छात्र-आंदोलन के बाद उन्हें जेएनयू से निकाल दिया गया। इसके बावजूद वे आजीवन जेएनयू में ही रहे।
				</p>
		
				<p>अंतिम समय में उन्होंने ऑक्युपाई यूजीसी में जेएनयू के छात्रों के साथ हिस्सेदारी की। इसी दौरान ८ दिसंबर २०१५ को उनका निधन हो गया।
				</p>
							
				<u><h2>साहित्य
				</h2></u>

				<p>विद्रोही मुख्यतः प्रगतिशील चेतना के कवि हैं। उनकी कविताएं लंबे समय तक अप्रकाशित और उनकी स्मृति में सुरक्षित रही। वे अपनी कविता सुनाने के अंदाज के कारण बहुत लोकप्रीय रहे।
					२०११ ई॰ में इनकी रचनाओं का प्रकाशन 'नई खेती' शीर्षक संग्रह से हुआ।
				</p>





<center>
		Sources:
	<br/>
	<%= link_to 'Vidrohi "Rebel" Facebook page.', 'https://www.facebook.com/vidrohi.rebel/' %><br/>
	<%= link_to 'Wikipedia', 'https://hi.wikipedia.org/wiki/%E0%A4%B0%E0%A4%AE%E0%A4%BE%E0%A4%B6%E0%A4%82%E0%A4%95%E0%A4%B0_%E0%A4%AF%E0%A4%BE%E0%A4%A6%E0%A4%B5_%27%E0%A4%B5%E0%A4%BF%E0%A4%A6%E0%A5%8D%E0%A4%B0%E0%A5%8B%E0%A4%B9%E0%A5%80%27' %><br/>
	<%= link_to 'Youtube', 'https://www.youtube.com' %>
	
	<br/>
	<hr/>
	Created with love. by. <b>awasthi dot manoj at gmail dot com</b>.<br/>
	If you have some poem, video or news that you want to share please share over mail - I will include here.
	<hr/>
</center>
